.pixelfield
  width: 100%
  position: relative
  
  .row-container
    position: absolute
    height: 100%
    width: 100%

  .row
    width: 100%
    diplay: block

    > div
      height: 100%
      display: inline-block
      
#preview
  background: url('https://perelincolors.files.wordpress.com/2014/07/emperors12.jpg') top left 100%