block content
.upload_form
  .row
    .columns.large-4
      form#uploader(action="/uploads/new-image",method="post",enctype="multipart/form-data")
        .row
          .columns.large-12
            input(type="file", name="uploadme")
        .row
          .columns.large-6
            input(type="number", name="height", placeholder="height")
          .columns.large-6
            input(type="number", name="width", placeholder="width")
        .row
          .columns.large-6
            input(type="submit")

  .row
    .columns.large-12
      div#preview.pixelfield