doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/foundation/foundation.min.css')
    link(rel='stylesheet', href='/styles/style.css')
  body
    block content
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js')
    script(src='/scripts/app.js')
